body { 
    color: #421; 
    font-weight: bold; 
    font-size: 18px; 
    font-family: "Courier New"; 
    background: rgb(200, 232, 241); 


}
body::after {
    content: "";
    background-image: url("bot.png");
    background-repeat: repeat-y; 
    opacity: 0.5;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    z-index: -1;   
  }
span { 
    color: rgb(36, 17, 119); 
} 
::-webkit-input-placeholder { 
    color: #711 
}
#main { 
    position: fixed; 
    top: 3%; 
    right: 100px; 
    width: 600px; 
    border: 0px solid #421; 
    /* padding: 20px;  */
}
#main div { 
    margin: 10px; 
} 
#input { 
    border: 0; 
    padding: 5px; 
    width: 400px;
    /* border: 1px solid #421;  */
}



.scrolling-box {
    background-color: #eaeaea;
    display: block;
    width: 500px;
    height: 650px;
    /* padding: 1em; */
    overflow-y: scroll;
    text-align: left;
  }
  
  section {
    display: flex;
    align-items: left;
    justify-content: left;
    height: 100%;
  }